<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607015743348-vbn8e4juailcmpq6o8cf2rcgpo6g3n3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607015743348-vbn8e4juailcmpq6o8cf2rcgpo6g3n3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDgCpA7jTIvhpt6f6uEd31K0jNLC9jpNbI</string>
	<key>GCM_SENDER_ID</key>
	<string>607015743348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.koolb</string>
	<key>PROJECT_ID</key>
	<string>koolb-60fff</string>
	<key>STORAGE_BUCKET</key>
	<string>koolb-60fff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607015743348:ios:04725ec588aec19fa40621</string>
</dict>
</plist>